.mutlichart_add_flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  margin-left: 20px;
  height: auto;
}

.mutlichart_add_flex_div {
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(86, 58, 255, 0.25) 0%,
    rgba(128, 128, 128, 0.07) 100%
  );
  height: 332px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multichart_addchart {
  width: 390px;
  height: 332px;
}
.recherche-modal {
  width: 100%;
  outline: none;
  color: black;
}

.addchart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addchart button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(86, 58, 255, 0.1) 0%,
    rgba(128, 128, 128, 0.03) 100%
  );
  justify-content: center;
  width: 100%;
  height: 100%;
}
