.addanewchart {
  border-radius: 16px;
  background: #1e1e1f;
  height: 332px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.chart_flex {
  display: flex;
  height: 332px;
  gap: 10px;
}
.chart_flex li {
  border-radius: 16px;
  background: #1e1e1f;
  height: 332px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
